.menu-item {
  display: block;
  width: 25%;
  text-decoration: none;
  background-color: blueviolet;
  padding-top: 10px;
  text-align: 10px;
  text-align: center;
}

.menu-item:hover {
  background-color: blue;
}

.menu {
  display: flex;
  font-family: "Lato";
}
